* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0f8ff;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.branco {
    color: #f0f8ff;
}
.header {
    background-color: hsl(208, 76%, 69%);
    padding: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #41aff8;
}

.post p {
    margin: 10px 0;
}

.menu,
.Logo {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.menu a,
.menu a:visited {
    color: #f0f8ff;
    text-decoration: none;
    padding: 8 px 12px;
}

.menu a :hover {
    background-color: #f0f8ff;
    color: #41aff8;
}

.container {

    width: 920px;
    margin: 0 auto;
    padding: 20px;

}

.posts {
    width: 660px;
    float: left;
}

.post {
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

H2 {
color: rgb(26, 139, 204);
}

.data-post {
    font-size: 0.8em;
    margin-bottom: 15px;
    display: block ;
}

.barra-Lateral {
    width: 240px;
    background-color: rgb(83, 164, 240);
    float: right;
}

.footer {
    clear: both;
    background-color: #004aad;
    padding: 15px;
}

.footer p {
    color: white;
    text-align: center;
}

.post img {
  display: block;       /* transforma a imagem em bloco */
  margin: 0 auto;       /* aplica margem automática nas laterais para centralizar */
  max-width: 100%;      /* para garantir que a imagem não ultrapasse o container */
  height: auto;         /* mantém a proporção da imagem */
}

/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo do conteúdo principal */
  .content {
    min-height: calc(100vh - 60px); /* Subtrai a altura do rodapé */
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  /* Estilo do rodapé */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
  }
  